      <head>
    <title>Gestor de Curriculums</title>
    <style type="text/css">
        * {
          box-sizing: border-box;
          margin: 0;
          padding: 0;
        }

        body {
          font-family: Arial, sans-serif;
          background-color: #f5f5f5;
        }

        .container {
          max-width: 800px;
          margin: 0 auto;
          padding: 20px;
        }
        

        h1 {
          font-size: 36px;
          font-weight: bold;
          text-align: center;
          margin-bottom: 30px;
        }

        h2 {
          font-size: 24px;
          font-weight: bold;
          margin-bottom: 10px;
        }

        .form-group {
          position: relative;
          margin-bottom: 20px;
        }
    
        .form-group label {
           display: flex;
           align-items: center;
           font-size: 18px;
           font-weight: bold;
           margin-bottom: 5px;
           margin-left: 0px;
           color: #1e63b8;
           min-width: 150px; /* ajusta el ancho mínimo según tus necesidades */
        }



        .form-group i {
            position: absolute;
            left: 0;
            top: 7px;
            font-size: 18px;
            color: #1e63b8;
            transition: transform 0.3s ease;
        }

        .form-group input,
        .form-group textarea {
            width: 100%;
            padding: 10px;
            font-size: 18px;
            border-radius: 5px;
            border: 1px solid #ddd;
            transition: border-color 0.3s ease;
        }

        .form-group input:focus,
        .form-group textarea:focus {
            outline: none;
            border-color: #1e63b8;
        }

        .form-group input:not(:placeholder-shown) + label i {
            transform: translateY(-50%) scale(0.8);
        }

        .form-group textarea:not(:placeholder-shown) + label i {
            transform: translateY(-50%) scale(0.8);
        }

        button[type="submit"] {
            display: block;
            margin: 0 auto;
            padding: 10px 20px;
            font-size: 24px;
            font-weight: bold;
            color: #fff;
            background-color: #1e63b8;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        button[type="submit"]:hover {
            background-color: #123456;
        }

        #curriculum {
            margin-top: 50px;
            border: 2px solid #333;
            border-radius: 5px;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        }

        #curriculum h1 {
            font-size: 24px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 30px;
        }

        #curriculum p {
            font-size: 18px;
            margin-bottom: 10px;
        }

        #curriculum p strong {
            font-weight: bold;
            margin-right: 5px;
        }

        #curriculum h3 {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 10px;
            color: #1e63b8;
        }

        #curriculum h3 i {
            font-size: 16px;
            margin-right: 5px;
            color: #333;
        }

        #curriculum .section {
            margin-bottom: 30px;
        }

        @media screen and (max-width: 600px) {
            h1 {
                font-size: 28px;
            }
            h2 {
                font-size: 20px;
            }
            .form-group label {
                font-size: 16px;
            }
            .form-group i {
                font-size: 16px;
            }
            .form-group input,
            .form-group textarea {
                font-size: 16px;
            }
            button[type="submit"] {
                font-size: 20px;
            }
            #curriculum h1 {
                font-size: 20px;
            }
            #curriculum p {
                font-size: 16px;
            }
            #curriculum h3 {
                font-size: 18px;
            }
            #curriculum h3 i {
                font-size:16px;
            }
        }
    </style>
  </head>
  <div class="container1">
  {{#each datos}}
    <div class="container">
      <div id="curriculum">
        <h1 id="nombre-curriculum"></h1>
        <div class="section">
            
          <h2>Información Personal</h2>
          <p>
            <strong><i class="fas fa-envelope"></i> Correo electrónico:</strong>
            <span id="correo-curriculum">{{this.correo}}</span>
          </p>
          <p>
            <strong><i class="fas fa-phone"></i> Teléfono:</strong>
            <span id="telefono-curriculum">{{this.telefono}}</span>
          </p>
          <p>
            <strong><i class="fas fa-map-marker-alt"></i> Dirección:</strong>
            <span id="direccion-curriculum">{{this.direccion}}</span>
          </p>
        </div>
        <div class="section">
          <h2>Experiencia Laboral</h2>
          <div id="experiencia1">
            <h3 style="color:#333;">
              <i class="fas fa-briefcase"></i>
              <span id="trabajo1-curriculum">{{this.trabajo1}}</span>
            </h3>
            <p id="descripcion1-curriculum">{{this.descripcion1}}</p>
          </div>
          <div id="experiencia2">
            <h3 style="color: #333;">
              <i class="fas fa-briefcase"></i>
              <span id="trabajo2-curriculum">{{this.trabajo2}}</span>
            </h3>
            <p id="descripcion2-curriculum">{{this.descripcion2}}</p>
          </div>
        </div>
        <div class="section">
          <h2>Educación</h2>
          <p>
            <strong><i class="fas fa-graduation-cap"></i> Universidad:</strong>
            <span id="universidad-curriculum">{{this.universidad}}</span>
          </p>
          <p>
            <strong
              ><i class="fas fa-graduation-cap"></i> Título obtenido:</strong
            >
            <span id="titulo-curriculum">{{this.titulo}}</span>
          </p>
          <p>
            <strong
              ><i class="fas fa-calendar-alt"></i> Año de graduación:</strong
            >
            <span id="anio-curriculum">{{this.anio}}</span>
          </p>
        </div>
        <div class="section">
          <h2>Habilidades</h2>
          <p>
            <i class="fas fa-tools"></i>
            <span id="habilidades-curriculum">{{this.habilidades}}</span>
          </p>
          
        </div>
      </div>
    </div>
    {{/each}}
    </div>